<!-- TODOLULU Add an item somewhere that allows user to see all rejected transactions (in case he made one disappear that he wanted to keep and is looking for it, make it intuitive
    can't display em in the special transaction, would be a mess with two scrollers) -->

<div class="luluh91 py-2 px-4 d-flex flex-column align-items-stretch justify-content-evenly">

    <!-- My account -->
    <button class="btn bg-dark text-white" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#account-canvas" aria-controls="account-canvas">My account</button>
    <!-- body -->
    <div class="h-100 offcanvas offcanvas-end" tabindex="-1" id="account-canvas"
        aria-labelledby="account-canvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="account-canvasLabel">Account settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            insert account component
        </div>
    </div>

    <!-- Preferences -->
    <button class="btn bg-dark text-white" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#preferences-canvas" aria-controls="preferences-canvas">Preferences</button>
    <!-- body -->
    <div class="h-100 offcanvas offcanvas-end" tabindex="-1" id="preferences-canvas"
        aria-labelledby="preferences-canvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="preferences-canvasLabel">Preferences</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            insert preferences component
        </div>
    </div>

    <!-- Documents -->
    <button class="btn bg-dark text-white" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#documents-canvas" aria-controls="documents-canvas">Documents</button>
    <!-- body -->
    <div class="h-100 offcanvas offcanvas-end" tabindex="-1" id="documents-canvas"
        aria-labelledby="documents-canvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="documents-canvasLabel">Documents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            insert documents component

<!-- TEST EDIT BANK ID STATEMENT -->
<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8" id="invoice" #invoice>
    <div class="max-w-3xl mx-auto">
        <div class="flex flex-row justify-between m-2 text-xs">
            <div class=" bg-gray-100 grow m-1 p-3 rounded basis-1/2">
                <h1 class="text-violet-500 text-sm">Invoice from</h1>
                <div class="flex flex-row justify-evenly m-1">
                    <div class=" basis-1/4 ">
                        <h3>Company</h3>
                    </div>
                    <div class="basis-3/4">
                        <h3>Lorem ipsum dolor sit. </h3>
                    </div>
                </div>
                <div class="flex flex-row justify-evenly m-1">
                    <div class=" basis-1/4 ">
                        <h3>Address </h3>
                    </div>
                    <div class="basis-3/4">
                        <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi aut facere magni accusamus
                        </h3>
                    </div>
                </div>
            </div>
            <div class=" bg-gray-100 grow m-1 p-3 rounded basis-1/2">
                <h1 class="text-violet-500 text-sm">Invoice To</h1>
                <div class="flex flex-row justify-evenly m-1">
                    <div class=" basis-1/4 ">
                        <h3>Company</h3>
                    </div>
                    <div class="basis-3/4">
                        <h3>Lorem, ipsum dolor. </h3>
                    </div>
                </div>
                <div class="flex flex-row justify-evenly m-1">
                    <div class=" basis-1/4 ">
                        <h3>Address </h3>
                    </div>
                    <div class="basis-3/4">
                        <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col m-5 text-xs">
            <div class="-my-2  sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-violet-500">
                                <tr>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                        Item No</th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                        Description</th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                        Rate</th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                        Quantity</th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                        HSN / SAC</th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                        Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white">
                                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900">01</td>
                                    <td class="px-6 py-4 text-xs text-gray-500 ">Lorem ipsum dolor sit amet.</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                                        99,60,000</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">999</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-xs font-medium">
                                        <a href="#" class="text-indigo-600 hover:text-indigo-900">999999</a>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-xs font-medium">
                                        <a href="#" class="text-indigo-600 hover:text-indigo-900">999999</a>
                                    </td>
                                </tr>
                                <tr class="bg-gray-50">
                                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900">02</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">Lorem, ipsum dolor.
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                                        99,60,000</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">999</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-xs font-medium">
                                        <a href="#" class="text-indigo-600 hover:text-indigo-900">888888</a>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-xs font-medium">
                                        <a href="#" class="text-indigo-600 hover:text-indigo-900">999999</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button (click)="generatePDF()">Generate</button> -->

<!-- END TEST EDIT BANK ID STATEMENT -->




        </div>
    </div>

    <!-- OPTION 1 -->
    <button class="btn bg-dark text-white" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#simulations-canvas" aria-controls="simulations-canvas">Simulations</button>
    <!-- body -->
    <div class="h-100 offcanvas offcanvas-end" tabindex="-1" id="simulations-canvas"
        aria-labelledby="simulations-canvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="simulations-canvasLabel">Simulations</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            insert simulations component
        </div>
    </div>

</div>