<!-- TEST EDIT BANK ID STATEMENT -->
<!-- img + cards or table -->
<!-- TODO: GET CREDIT ACCOUNT DATA -->
<div class="container" id="BISSheet" #BISSheet>
  <img class="img-fluid rounded mb-4" src="../../../../../assets/logohoriz.png" alt="leika logo" width="100"
    height="auto">

    <h3>Bank Id Statement</h3>
  <div class="text-center">

    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Branch Code</th>
          <th scope="col">Counter Code</th>
          <th scope="col">Account Number</th>
          <th scope="col">BIS Key</th>
          <th scope="col">Domiciliation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td colspan="6">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Account IBAN</th>
                  <th scope="col">Account BIC</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Mark</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="m-0">Account Holder: </p>
    <address>
      User Address
    </address>
</div>
<!-- TODO: PREVENT BUTTON FROM DISAPPEARING -->
<button class="btn luluvampireblack text-white mt-5" (click)="generatePDF()">Generate PDF</button>
<!-- END TEST EDIT BANK ID STATEMENT -->
