<div class="luluwrapper-global"> <!-- Appcomponent whole wrapper -->
  
    <div class="luluwrapper-top"> <!-- LOGGED IN COMPONENT -->
      <!-- Top navbar -->
      <ul class="nav bg-dark justify-content-end lulutopnav">
        <li class="nav-item me-auto lululogocontainer ">
          <img src="../assets/logohoriz.png" alt="">
        </li>
        <li class="nav-item my-auto">
          <button class="btn bg-dark" href="#"><i class="fa-brands fa-rocketchat"></i></button>
        </li>
        <li class="nav-item my-auto">
          <button class="btn bg-dark" href="#"><i class="fa-solid fa-right-from-bracket"></i></button>
        </li>
      </ul>
    </div>
  
    <div class="luluwrapper-center"> <!-- LOGGED IN COMPONENT, content changes according to BOTTOM NAVBAR -->
  
    <!-- Onglet Displayer -->
    <div class="lulumaincomponentdisplayer tab-content" id="maincomponentdisplayerid">
  
      <!-- ACCOUNT COMPONENT = nav1 account picker + nav2 section picker + E3 section displayer-->
      <div class="lulumaincomponentsubdisplayer tab-pane fade show active" id="accountcomponentdisplayerid" role="tabpanel" aria-labelledby="accountcomponentdisplayerid-tab" tabindex="0">
        <!-- NAV1 Account Picker (!!only appears if there's more than one account)-->
        <div class="luluaccountpicker py-1 d-flex flex-row justify-content-start align-items-center">
          <div class="luluaccountpill mx-1">  <!--++ *ngFor="let displayedAccount of accountsList" -->
            <input type="radio" class="btn-check" name="picked-account" id="account1" autocomplete="off" checked> <!--++ first one has CHECKED value, others don't -->
            <label class="luluaccountpilllabel btn btn-secondary d-flex flex-row align-items-center justify-content-center" for="account1">
              <div class="mx-1">Sample</div>  <!--++ {{displayedAccount.Title | slice:0:}}--> <!--++ Make it shrink with "..." -->
              <div class="mx-1">250 000 000$</div>  <!--++ {{displayedAccount.Balance | currency}} ++This should be green if positive red if negative -->
            </label>
          </div>
          <!-- JUST A COPY, different id, no checked attribute -->
          <div class="luluaccountpill mx-1">
            <input type="radio" class="btn-check" name="picked-account" id="account2" autocomplete="off">
            <label class="luluaccountpilllabel btn btn-secondary d-flex flex-row align-items-center justify-content-center" for="account2">
              <div class="mx-1">Sample</div>
              <div class="mx-1">250 000 000$</div>
            </label>
          </div>
        </div>
        
        <!-- NAV2 Section Picker  -->
        <ul class="lulusectionpicker border-bottom py-1 nav nav-pills d-flex flex-row justify-content-center align-items-center" id="sectionpicker-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="transactionsubcomponentdisplayer-tab" data-bs-toggle="pill" data-bs-target="#transactionsubcomponentdisplayer" type="button" role="tab" aria-controls="transactionsubcomponentdisplayer" aria-selected="true">Transactions</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="cardssubcomponentdisplayer-tab" data-bs-toggle="pill" data-bs-target="#cardssubcomponentdisplayer" type="button" role="tab" aria-controls="cardssubcomponentdisplayer" aria-selected="false">Cartes</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="graphsubcomponentdisplayer-tab" data-bs-toggle="pill" data-bs-target="#graphsubcomponentdisplayer" type="button" role="tab" aria-controls="graphsubcomponentdisplayer" aria-selected="false">Graphiques</button>
          </li>
        </ul>
  
        <!-- E3 Section Displayer -->
        <div class="lulusectiondisplayer tab-content p-2" id="selectedsection-displayer-wrapper">
          <!-- Transaction subcomponent -->
          <div class="lulusectionsubdisplayer tab-pane fade show active" id="transactionsubcomponentdisplayer" role="tabpanel" aria-labelledby="transactionsubcomponentdisplayer-tab" tabindex="0">
            <!-- Special transactions pills -->
            <div class="luluspecialtransactionswrapper dmb-2">
              <!-- Pills holder -->
              <div class="lulucollapsebuttonsholder d-flex align-items-center justify-content-center">
                <p>
                  <button class="btn btn-secondary mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#rejectedopscontent" aria-expanded="false" aria-controls="rejectedopscontent">
                    + Rejected
                  </button>
                  <button class="btn btn-secondary mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#pendingopscontent" aria-expanded="false" aria-controls="pendingopscontent">
                    + Pending
                    <!-- Ajouter une vignette compteur -->
                  </button>
                </p>
              </div>
              <!-- Content holder -->
              <div class="lulucollapsedcontentholder mb-2 d-flex flex-column align-items-center justify-content-center">
                <!-- Rejected -->
                <div class="collapse" id="rejectedopscontent">
                  <div class="p-2">
                    Rejected:
                    <div class="lulutransacard p-1 border d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
                      <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                        <div class="lulutransacard-title">Title</div>
                        <div class="lulutransacard-info d-flex flex-row">
                          <div class="me-3">Date</div>
                        <div>Card ****9915</div>
                      </div>
                    </div>
                    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                      12.99 &euro;
                    </div>
                  </div>
                </div>
              </div>
                <!-- Leikode & Pending-->
                <div class="collapse" id="pendingopscontent">
                  <div class="p-2">
                    <div id="pendingops">
                      Leikode requests:
                      <div class="lulutransacard p-1 border d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
                        <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                          <div class="lulutransacard-title">Title</div>
                          <div class="lulutransacard-info d-flex flex-row">
                            <div class="me-3">Date</div>
                          <div>Card ****9915</div>
                        </div>
                      </div>
                      <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                        12.99 &euro;
                      </div>
                    </div>
                  </div>
                  
                    <div id="incomingops">
                      Incoming:
                      <div class="lulutransacard p-1 border d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
                        <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                          <div class="lulutransacard-title">Title</div>
                          <div class="lulutransacard-info d-flex flex-row">
                            <div class="me-3">Date</div>
                            <div>Card ****9915</div>
                          </div>
                        </div>
                        <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                          12.99 &euro;
                        </div>
                      </div>
                    </div>
                </div>
                </div>
                <!-- Incoming -->
                <div class="collapse" id="incomingopscontent">
                  <div class="p-2">
                    Rejected:
                    <div class="lulutransacard p-1 border d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
                      <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                        <div class="lulutransacard-title">Title</div>
                        <div class="lulutransacard-info d-flex flex-row">
                          <div class="me-3">Date</div>
                        <div>Card ****9915</div>
                      </div>
                      <div class="lulutransacard-category">Category, subcategory</div>
                    </div>
                    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                      12.99 &euro;
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <!-- *ngFor="let months of TransactionsHistory"
            month.monthname
            {
              *ngFor"let transaction of monthname.transactions"
              {
                card
                transaction.title
                etc.
              }
            } -->
            Transactions history
            <!-- Transaction card -->
            <div class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
              <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
                <img src="../assets/transactionlogo.png" alt="categorimg">
              </div>
              <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                <div class="lulutransacard-title">Title</div>
                <div class="lulutransacard-info d-flex flex-row">
                  <div class="me-3">Date</div>
                  <div>Card ****9915</div>
                </div>
                  <div class="lulutransacard-category">Category, subcategory</div>
              </div>
              <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                12.99 &euro;
              </div>
            </div>
            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
            <!-- Transaction card -->
            <div class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
              <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
                <img src="../assets/transactionlogo.png" alt="categorimg">
              </div>
              <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                <div class="lulutransacard-title">Title</div>
                <div class="lulutransacard-info d-flex flex-row">
                  <div class="me-3">Date</div>
                  <div>Card ****9915</div>
                </div>
                  <div class="lulutransacard-category">Category, subcategory</div>
              </div>
              <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                12.99 &euro;
              </div>
            </div>
            <!-- Transaction card -->
            <div class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
              <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
                <img src="../assets/transactionlogo.png" alt="categorimg">
              </div>
              <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                <div class="lulutransacard-title">Title</div>
                <div class="lulutransacard-info d-flex flex-row">
                  <div class="me-3">Date</div>
                  <div>Card ****9915</div>
                </div>
                  <div class="lulutransacard-category">Category, subcategory</div>
              </div>
              <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                12.99 &euro;
              </div>
            </div>
            <!-- Transaction card -->
            <div class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
              <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
                <img src="../assets/transactionlogo.png" alt="categorimg">
              </div>
              <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                <div class="lulutransacard-title">Title</div>
                <div class="lulutransacard-info d-flex flex-row">
                  <div class="me-3">Date</div>
                  <div>Card ****9915</div>
                </div>
                  <div class="lulutransacard-category">Category, subcategory</div>
              </div>
              <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                12.99 &euro;
              </div>
            </div>
            <!-- Transaction card -->
            <div class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
              <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
                <img src="../assets/transactionlogo.png" alt="categorimg">
              </div>
              <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                <div class="lulutransacard-title">Title</div>
                <div class="lulutransacard-info d-flex flex-row">
                  <div class="me-3">Date</div>
                  <div>Card ****9915</div>
                </div>
                <div class="lulutransacard-category">Category, subcategory</div>
              </div>
              <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                12.99 &euro;
              </div>
            </div>
            <!-- Transaction card -->
            <div class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
              <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
                <img src="../assets/transactionlogo.png" alt="categorimg">
              </div>
              <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                <div class="lulutransacard-title">Title</div>
                <div class="lulutransacard-info d-flex flex-row">
                  <div class="me-3">Date</div>
                  <div>Card ****9915</div>
                </div>
                <div class="lulutransacard-category">Category, subcategory</div>
              </div>
              <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                12.99 &euro;
              </div>
            </div>
            <!-- Transaction card -->
            <div class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
              <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
                <img src="../assets/transactionlogo.png" alt="categorimg">
              </div>
              <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
                <div class="lulutransacard-title">Title</div>
                <div class="lulutransacard-info d-flex flex-row">
                  <div class="me-3">Date</div>
                  <div>Card ****9915</div>
                </div>
                <div class="lulutransacard-category">Category, subcategory</div>
              </div>
              <div class="lulutransacard-price d-flex align-items-center justify-content-center">
                12.99 &euro;
              </div>
            </div>
            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
            
          </div>
          <!-- Cards Gestionsubcomponent -->
          <div class="tab-pane fade" id="cardssubcomponentdisplayer" role="tabpanel" aria-labelledby="cardssubcomponentdisplayer-tab" tabindex="0">
            Insert cards subcomponent
          </div>
          <!-- Graphs subcomponent -->
          <div class="tab-pane fade" id="graphsubcomponentdisplayer" role="tabpanel" aria-labelledby="graphsubcomponentdisplayer-tab" tabindex="0">
            Insert Graphs subcomponent
          </div>
        </div> 
      </div> 
      <!-- END OF ACCOUNT COMPONENT-->
      
      <!-- TRANSFER COMPONENT -->
      <div class="lulumaincomponentsubdisplayer tab-pane fade" id="transfercomponentdisplayer" role="tabpanel" aria-labelledby="transfercomponentdisplayer-tab" tabindex="0">
        
        <div class="lulutransfercomponent-wrapper p-5 d-flex flex-column align-items-stretch justify-content-around">
          <div class="border d-flex flex-column align-items-center" id="lulutest1">
            History
          </div>
          <button class="btn btn-secondary">New move</button>
          <button class="btn btn-secondary">Manage receivers</button>
        </div>
      </div>
      <div class="lulumaincomponentsubdisplayer tab-pane fade" id="managebottomcomponentdisplayer" role="tabpanel" aria-labelledby="managebottomcomponentdisplayer-tab" tabindex="0">
        Insert manage component
      </div>
    </div>
    
  </div><!--End of Center Wrapper -->
  <div class="luluwrapper-bottom">
    <!-- Bottom navbar -->
    <ul class="nav nav-pills bg-dark lulubottomnav d-flex flex-row justify-content-center align-items-center py-1" id="bottomnav-tab" role="tablist"> <!-- pt-3 because damn icons buggy -->
      <li class="nav-item d-flex flex-column justify-content-center" role="presentation">
        <button class="pt-3 nav-link d-flex flex-column align-items-center justify-content-evenly active" id="accountcomponentdisplayerid-tab" data-bs-toggle="pill" data-bs-target="#accountcomponentdisplayerid" type="button" role="tab" aria-controls="transactionsubcomponentdisplayer" aria-selected="true">
          <i class="fa-solid my-1 fa-xl fa-receipt"></i>
          <p class="m-0">Accounts</p>
        </button>
      </li>
        <li class="nav-item d-flex flex-column justify-content-center" role="presentation">
          <button class="pt-3 nav-link d-flex flex-column align-items-center justify-content-evenly" id="transfercomponentdisplayer-tab" data-bs-toggle="pill" data-bs-target="#transfercomponentdisplayer" type="button" role="tab" aria-controls="transactionsubcomponentdisplayer" aria-selected="false">
            <i class="fa-solid my-1 fa-xl fa-money-bill-transfer"></i>
            <p class="m-0">Transfer</p>
          </button>
        </li>
        <li class="nav-item d-flex flex-column justify-content-center" role="presentation">
          <button class="pt-3 nav-link d-flex flex-column align-items-center justify-content-evenly" id="managebottomcomponentdisplayer-tab" data-bs-toggle="pill" data-bs-target="#managebottomcomponentdisplayer" type="button" role="tab" aria-controls="transactionsubcomponentdisplayer" aria-selected="false">
            <i class="fa-solid my-1 fa-xl fa-ellipsis"></i>
            <p class="m-0">Manage</p>
          </button>
        </li>
      </ul>
    </div>
  </div>
  
    <!--  DONT DELETE THIS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <!--  DONT DELETE THIS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
      <router-outlet></router-outlet>
    <!--  DONT DELETE THIS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <!--  DONT DELETE THIS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    
  