<div class="luluh100 luluw100" id="luluwrapper-whole">

  <!-- TODO: TEST IN NAVBAR LEILA -->
  <div id="luluwrapper-top">
    <!-- Top navbar -->
    <!-- <ul class="luluh100 nav bg-dark justify-content-start d-flex flex-row luluscrollx luluscrolly" id="lulutopnav"> -->
    <ul class="luluh100 nav justify-content-end d-flex flex-row luluscrollx luluscrolly" id="lulutopnav">
      <!-- Logo -->
      <li class="luluh100 p-1 nav-item me-auto">
        <img class="luluh100 img-fluid" src="../assets/logohoriz.png" alt="leika logo">
      </li>
      <!-- END TEST -->

      <!-- Chat icon -->
      <li class="nav-item my-auto">
        <!-- CHAT Offcanvas button -->
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#chat-canvas"
          aria-controls="chat-canvas"><i class="fa-brands fa-rocketchat"></i></button>
        <!-- CHAT Offcanvas title/label + content -->
        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="chat-canvas" aria-labelledby="chat-canvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="chat-canvasLabel">What's up?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body mb-4">
            <app-contact></app-contact>
          </div>
        </div>
      </li>

      <!-- Logout icon -->
      <li class="nav-item my-auto">
        <button class="btn" (click)="logout()">{{ userData.username }} <i
            class="fa-solid fa-right-from-bracket"></i></button>
      </li>

      <li class="nav-item my-auto">
        <span class="text-white fw-bold mx-2">{{ userLeikode }}</span>
      </li>
    </ul>
  </div>

  <div id="luluwrapper-center">
    <!-- Tab Displayer -->
    <div class="luluh100 tab-content">
      <!-- Accounts tab -->
      <div class="luluh100 tab-pane fade show active" id="accountcomponent-displayer" role="tabpanel"
        aria-labelledby="accountcomponent-btn" tabindex="0">
        <app-accounts></app-accounts>
      </div>
      <!-- Transfer tab -->
      <div class="luluh100 tab-pane fade " id="transfercomponent-displayer" role="tabpanel"
        aria-labelledby="transfercomponent-btn" tabindex="0">
        <app-transfer></app-transfer>
      </div>
      <!-- Manage tab -->
      <div class="luluh100 tab-pane fade " id="managecomponent-displayer" role="tabpanel"
        aria-labelledby="managecomponent-btn" tabindex="0">
        <app-manage></app-manage>
      </div>
    </div>
  </div>

  <div id="luluwrapper-bottom">
    <!-- Bottom navbar -->
    <ul class="luluh100 nav nav-pills d-flex flex-row justify-content-center align-items-center py-1" id="lulubottomnav"
      role="tablist">
      <!-- Accounts btn -->
      <li class="luluh100 nav-item d-flex flex-column justify-content-center" role="presentation">
        <button class="luluh100 nav-link d-flex flex-column align-items-center justify-content-evenly active"
          id="accountcomponent-btn" data-bs-toggle="pill" data-bs-target="#accountcomponent-displayer" type="button"
          role="tab" aria-controls="accountcomponent-displayer" aria-selected="true">
          <i class="my-1 fa-solid fa-xl fa-receipt"></i>
        </button>
      </li>
      <!-- Transfers btn -->
      <li class="luluh100 nav-item d-flex flex-column justify-content-center" role="presentation">
        <button class="luluh100 nav-link d-flex flex-column align-items-center justify-content-evenly"
          id="transfercomponent-btn" data-bs-toggle="pill" data-bs-target="#transfercomponent-displayer" type="button"
          role="tab" aria-controls="transfercomponent-displayer" aria-selected="false">
          <i class="my-1 fa-solid fa-xl fa-money-bill-transfer"></i>
        </button>
      </li>
      <!-- Manage btn -->
      <li class="luluh100 nav-item d-flex flex-column justify-content-center" role="presentation">
        <button class="luluh100 nav-link d-flex flex-column align-items-center justify-content-evenly"
          id="managecomponent-btn" data-bs-toggle="pill" data-bs-target="#managecomponent-displayer" type="button"
          role="tab" aria-controls="managecomponent-displayer" aria-selected="false">
          <i class="my-1 fa-solid fa-xl fa-ellipsis"></i>
        </button>
      </li>
    </ul>
  </div>


  <!-- TEST LOGOUT NOTIFICATION -->
  <!-- Flexbox container for aligning the toasts -->
  <!-- <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100"> -->

  <!-- Then put toasts within -->
  <!--  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="../../../assets/logohoriz.png" class="rounded me-2" alt="leika logo" width="10%" height="auto">
        <strong class="me-auto">Leika notification</strong>
      </div>
      <div class="toast-body">
        You are about to be signed out.
      </div>
    </div>
  </div> -->
</div>