///////////////////////////// Basic layout
#luluwrapper-whole{
  background-color: var(--lulubgblack);
}

#luluwrapper-top {
  height: 9%; //used to be 8%
}

#luluwrapper-center {
  height: 82%;
}

#luluwrapper-bottom {
  height: 9%; // used to be 10%
}

///////////////////////////// Top nav
/// 
#lulutopnav{
  background-color: #1a1e21;
}
#lulutopnav button {
  //overrides bootstrap active states
  color: var(--lulugold1);
}

///////////////////////////// Bottom nav
#lulubottomnav{
  background-color: #1a1e21;
}
#lulubottomnav li {
  width: 33%;
}

#lulubottomnav button {
  color: var(--lulugold1);
}

#lulubottomnav .nav-link.active {
  //overrides #lulubottomnavbutton
  background-color: var(--lulugrey3);
  color: black;
}

.nav-link,
.nav-link.active {
  border-radius: 0px;
}

// CHAT OFFCANVAS
#chat-canvas {
  height: fit-content; //maybe 91%if you prefer
}

// ************************ //
// TEST LEILA = Animation for page reload after login

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   25% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// #luluwrapper-whole {
//   animation-duration: 2s;
//   animation-timing-function: ease-in-out;
//   animation-delay: 0s;
//   animation-name: fadeIn;
// }






