rejected transactions
<!-- ngFor uncheckedrejectedtransaction of uncheckedrejectedtransactions -->
<!-- onclick pass transaction id as a parameter to both launch transaction detail offcanvas AND call checkrejected() -->
<!-- on close, set rejectedcheckedshowinhistory: true or false[which one default for best ux ?], and actualize rejectedunchecked AND history -->
<div class="lulutransacard p-1 border d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
    <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
        <div class="lulutransacard-title">Title</div>
        <div class="lulutransacard-info d-flex flex-row">
            <div class="me-3">Date</div>
            <div>Card ****9915</div>
        </div>
    </div>
    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
        12.99 &euro;
    </div>
</div>
<div class="lulutransacard p-1 border d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
    <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
        <div class="lulutransacard-title">Title</div>
        <div class="lulutransacard-info d-flex flex-row">
            <div class="me-3">Date</div>
            <div>Card ****9915</div>
        </div>
    </div>
    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
        12.99 &euro;
    </div>
</div>
<div class="lulutransacard p-1 border d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
    <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
        <div class="lulutransacard-title">Title</div>
        <div class="lulutransacard-info d-flex flex-row">
            <div class="me-3">Date</div>
            <div>Card ****9915</div>
        </div>
    </div>
    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
        12.99 &euro;
    </div>
</div>