<!-- TEST STATS WITH CHART JS -->
<!-- TODO: add container -->


<div id="chartScrollerContainer" class="text-center d-flex flex-column d-lg-flex flex-lg-row">
    
<!-- TODO:chart for amount of operation by date or change in balance -->
  <div class="chartContainer mb-5">
    <p class="mb-0">Amount stats</p>
    <canvas id="barChart" height="400" width="400"></canvas>
  </div>

  <!-- TODO: chart for transaction status ? -->
  <div class="chartContainer">
    <p class="mb-0">Status stats</p>
    <canvas id="polarAChart" height="400" width="400"></canvas>
  </div>

</div>


