<!-- OFFCANVAS -->
<div class="luluh100 offcanvas offcanvas-bottom" tabindex="-1" id="transaction-details-canvas"
    aria-labelledby="transaction-details-canvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="transaction-details-canvasLabel">Transaction Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <app-transaction-details></app-transaction-details>
    </div>
</div>

<!-- Card Transaction card -->
<div>Today</div>
<div class="luludayholder mb-3">

    <!-- TODOLULU on click, pass transaction id as a parameter to transactiondetail component -->
    <!-- logo ngif checkedrejectedshowinhistory then show a red cross (no category, it was rejected), otherwise show category logo 
        add a ONLINE vignette par dessus 
    -->
    <!-- div If type = virement then not Card ** just a slice -->
    <!-- TODO format amount-->
    <a *ngFor="let transaction of sortedhistorytoday"
        class="lulutransacard p-1 mt-1 d-flex flex-row justify-content-evenly align-items-center"
        data-bs-toggle="offcanvas" data-bs-target="#transaction-details-canvas"
        aria-controls="transaction-details-canvas">
        <img class="lulutransacard-logo p-1" src="../../../../../../assets/logotest.png" alt="categorylogo">
        <div class="lulutransacard-text px-2 d-flex flex-column justify-content-center align-items-start">
            <div class="lulutransacard-title">
                {{ (transaction.title.length>25) ? (transaction.title|slice:0:25)+'..' : (transaction.title) }}
            </div>
            <div class="lulutransacard-date-cardnb d-flex flex-row">
                <div *ngIf="transaction.transactionType=='Card'">{{'Card **** ' + (transaction.transactionRef |
                    slice:-4) }}</div>
                <div *ngIf="transaction.transactionType=='Direct debit'">{{"SEPA " + transaction.transactionRef}}</div>
                <div *ngIf="transaction.transactionType=='Direct credit'">{{"From: " + transaction.transactionRef}}</div>
                <div *ngIf="transaction.transactionType=='Wire transfer'">{{"To: " + transaction.transactionRef}}</div>

            </div>
            <div class="w-100 d-flex flex-row">
                <div class="lulutransacard-category">
                    {{(transaction.category | slice:0:30)}}
                </div>
                <div class="lulutransacard-price luluw40 ms-auto d-flex flex-row align-items-start justify-content-evenly"
                    [ngClass]="{'lulugreentransaction' : !transaction.amountnegative}">
                    <div class="d-flex flex-row mx-1">
                        {{ formatAmount(transaction.amount) }} &euro;
                    </div>
                </div>
            </div>
            <div *ngIf="transaction.usernote" class="lulutransacard-usernote">
                {{(transaction.usernote | slice:0:100) + ".."}}
            </div>
        </div>
    </a>
</div>

<div>Yesterday</div>
<div class="luludayholder mb-3">
    <a *ngFor="let transaction of sortedhistorytoday"
        class="lulutransacard p-1 mt-1 d-flex flex-row justify-content-evenly align-items-center"
        data-bs-toggle="offcanvas" data-bs-target="#transaction-details-canvas"
        aria-controls="transaction-details-canvas">
        <img class="lulutransacard-logo p-1" src="../../../../../../assets/logotest.png" alt="categorylogo">
        <div class="lulutransacard-text px-2 d-flex flex-column justify-content-center align-items-start">
            <div class="lulutransacard-title">
                {{ (transaction.title.length>25) ? (transaction.title|slice:0:25)+'..' : (transaction.title) }}
            </div>
            <div class="lulutransacard-date-cardnb d-flex flex-row">
                <div *ngIf="transaction.transactionType=='Card'">{{'Card **** ' + (transaction.transactionRef |
                    slice:-4) }}</div>
                <div *ngIf="transaction.transactionType=='Direct debit'">{{"SEPA " + transaction.transactionRef}}</div>
                <div *ngIf="transaction.transactionType=='Direct credit'">{{"From: " + transaction.transactionRef}}</div>
                <div *ngIf="transaction.transactionType=='Wire transfer'">{{"To: " + transaction.transactionRef}}</div>

            </div>
            <div class="w-100 d-flex flex-row">
                <div class="lulutransacard-category">
                    {{(transaction.category | slice:0:30)}}
                </div>
                <div class="lulutransacard-price luluw40 ms-auto d-flex flex-row align-items-start justify-content-evenly"
                    [ngClass]="{'lulugreentransaction' : !transaction.amountnegative}">
                    <div class="d-flex flex-row mx-1">
                        {{ formatAmount(transaction.amount) }} &euro;
                    </div>
                </div>
            </div>
            <div *ngIf="transaction.usernote" class="lulutransacard-usernote">
                {{(transaction.usernote | slice:0:100) + ".."}}
            </div>
        </div>
    </a>
</div>