/* You can add global styles to this file, and also import other style files */

// SOMEHOW THIS SHIT CAUSES AN ERROR
// @import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// ******************STYLES REFS*******************************************************************


:root{
    --luluultrablack: #1a1e21;
    --lulubg: #212529;
    --lulubg2: #393d42;
    --luluclear: #fbfdff;
    --lulugrey: #C3C0C0ff;
    --lulugold: rgb(224, 182, 66);

    --lulublack: #141414ff;
    --lulublack2: #242424ff;
    
    --lulugrey1a: #f7f7f7fb; 
    --lulugrey1b: #f1efef;
    --lulugrey3: #C3C0C0ff;
    --lulugrey4: #727272;
    --lulugrey5: #212529;
    --lulugold1: #DDC172ff;
    --lulugold2: #D2B86Dff;
    
    --lulubtngrey: #C3C0C0ff;
    --lulubtnred: rgb(212, 30, 30);

    --lulucardtextgrey: #727272;
    --lulucardusernote: #707070;
    // --lulucardusernote: #969696;
    // --lulucardusernote: rgb(224, 182, 66);
    --lulucardusernoteborder: #ececec; //f7f3f3
    --lulucardtextgreen: #0dd02a;

    --lulured: rgba(248, 182, 182, 0.593); //(248, 182, 182)
    --luluyellow: rgb(249, 255, 170); //(249, 255, 170)
    --lulugreen: rgb(199, 248, 187); //(199, 248, 187)

}

.lulugrey{
    background-color: var(--lulugrey);
}
.lulubg{
    background-color: var(--lulubg);
}
.luluclear{
    background-color: var(--luluclear);
}
.luluultrablack{
    background-color: var(--luluultrablack);
}

.lulugreytxt{
    color: var(--lulugrey) !important;
}
.lulubgtxt{
    color: var(--lulubg) !important;
}
.luluultrablacktxt{
    color: var(--luluultrablack);
}
.lulusignaturetxt{
    color: var(--lulugrey4);
}
.lulugoldbtn{
    color: var(--lulugold) !important;
}
.lulugoldbg{
    background-color: var(--lulugold);
}


















a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

// GLOBAL CLASSES
.luluh91{
    height: 91%;
}
.luluh90{
    height: 90%;
}
.luluh82{
    height: 82%;
}
.luluh60{
    height: 60%;
}
.luluh65{
    height: 65%;
}
.luluh50{
    height: 50%;
}
.luluh10{
    height: 10%;
}
.luluh9{
    height: 9%;
}
.luluw91{
    width: 91%;
}
.luluw33{
    width: 33%;
}
.luluw30{
    width: 30%;
}
.luluw9{
    width: 9%;
}

.lulugreentransaction{
    color: var(--lulucardtextgreen);
}

.luluscrollx{
    overflow-x: scroll;
}
.luluscrolly{
    overflow-y: scroll;
}




.tg{
    background-color: #000000;
    background-image: linear-gradient(280deg, #000000 0%, #434343 99%);
}

// Test gradient leila blue whale